*{
	padding: 0;
	margin:0 ;
}
.container{
	width: 99.vw;
	height: 99.5vh;
	background-image: url(../img/08.jpg);
	background-size: cover;
	background-position: center;
}
.nav{
	width: 98w;
	height: 8vh;
	display: flex;
	background-color: black;
	
}
.nav img{
	width:15vw;
	height: 5vh;
	margin-top: 1vw;
	margin-left: 5vw;
}
.nav-img .speaker-img{
	width: 2vw;
	height: 4.5vh;
	background-color: black;
	border-radius: 50%;
	border: 2px solid white;
	margin-left: -.2vw;
}
.nav ul li {
	text-decoration: none;
	list-style: none;
	margin-left: 2vw;
	margin-top: 3vh;
	font-size: 1vw;
	color: white;
}
.nav ul li a{
	list-style: none;
	text-decoration: none;
	color: white;
}
ul{
	display: flex;
	margin-left: 5VW;
}
.nav li a:hover{
	color: darkorange;
}
.nav-left-img .global{
	width: 2.5vw;
}
.nav-left-img .phone{
	width: 12vw;
	height: 4vh;
	margin-bottom: 1vh;
	margin-left: .1vw;
}
.nav-left-img .quate{
	width: 6vw;
	margin-left:.2vw;
	height: 4vh;
	margin-bottom: 1vh;
}


/*row 1 of the website starts from here  the button and all over data */


.row1{
	width: 90vw;
	height: 70vh;
	margin-left: 5vw;
}
.row1-text{
	width: 50vw;
	height: 30vh;
	margin-top: 20vh;
	margin-left: 5vw;
	color: white;

}
.row1-text h3{
	font-size: 2.5vw;
}

.row1-text h2{
	font-size: 6vw;
	margin-top: -2vh;
}
.row1-text p{
	font-size: 1.5vw;
	width: 41vw;
	margin-top: 1vh;
	font-weight: lighter;
}
.row1-button{
	margin-top: 1vw;
	width: 30vw;
	height: 10vh;
	margin-left: 5vw;
}
.row1-button button{
	width: 12vw;
	height: 7vh;
}
.row1-button button a{
	text-decoration: none;
}
.row1-button1{
	background-color: #f907fc;
	background-image: linear-gradient(315deg , #f907fc 10%, #05d6d9 90%);
	cursor: pointer;
	border-radius: 3%;
	border: none;
	transition: transform .4s;
	overflow: hidden;
}
.row1-button1 a{
	color: white;
	font-size: 16px;
}
.row1-button1:hover{
	transform: scale(1.1);
}
.row1-button2{
	background-color: transparent;
	border: 2px solid white;
	border-radius: 3%;
	margin-left: 1vw;
	transition: transform .4s;
	overflow: hidden;
}
.row1-button2:hover{
	transform: scale(1.1);
}
.row1-button2 a{
	color: white;
	font-size: 16px;
}
.row1-scroll{
	width: 30vw;
	height: 5vh;
	margin-left: 5vw;
	display: flex;
	margin-top: 8vh;
}
.row1-scroll img{
	width: 1.5vw;
	height: 4vh;
	margin-top: 1vw;
	cursor: pointer;
}
.row1-scroll h5{
	color: white;
	margin-top: 3vh;
	margin-left: .5vw;
	cursor: pointer;
}
.row2{
	width: 98vw;
	height: auto;
	margin-top: 1vw;
}
.row2-nav-text{
	width: 97vw;
	height: 5vh;
	margin-top: 5vh;
}
.row2-nav-text h3{
	text-align: center;
	color: darkgoldenrod;
}
.row2-head-text {
	width: 97vw;
	height: 45vh;
	text-align: center;
}
.row2-head-text h2{
	font-size: 4vw;
}
.row2-head-text p{
	width: 40vw;
	text-align: center;
	margin-left: 27vw;
	margin-top: 2vh;
	color: darkred;
}
.row2-head1-text{
	text-align: center;
	width: 97vw;
	height: 20vh;
}
.row2-head1-text h1{
	font-size: 8vw;
	color: darkorange;
}
.row-tittle-text{
	width: 97vw;
	height: 7vh;
	border: 2px solid red;
}
.row2-tittle-text h4{
	border: 2px solid black;
	width: 20vw;
	text-align: center;
	height: 3.5vh;
	margin-left: 50vw;
	border-radius: 20px 20px 20px 20px ;
}
.row2-1{
	display: flex;
}
.row2-left{
	width: 30vw;
	height: 70vh;
	margin-left: 5vw;
}
.row2-left-img{
	display: flex;
}
.row2-left-img .left-img1 {
	width: 17vw;
	height: 35vh;
}
.row2-left-img img{
	width: 27vw;
	height: 70vh;
	border-radius: 3%;
	box-shadow: 5px 5px 5px 5px gray;
}
.row2-right{
	width: 45vw;
	height: 80vh;
	margin-left: 13vw;
}
.row2-right-text{
	margin-left: 2vw;
}
.row2-right-text h2{
	margin-top: 1vw;
	font-weight: bolder;
	font-size: 3vw;
}
.row2-right-text p{
	width: 30vw;
	color: brown;
	margin-top: 1vh;
}
.row2-right-text h4{
	color: darkorange;
	margin-top: 5vh;
	font-size: 1.7vw;
}
.row2-right-text h3{
	margin-top: 3vh;
	font-weight: lighter;
	font-size: 1.5vw;
}
.tick{
	display: flex;
}
.tick img{
	color: red;
	width: 1.8vw;
	margin-top: 3vh;
	height: 4vh;	
}
.tick h3{
	margin-left: 1vw;
}
.row3{
	width: 98vw;
	height: 96vh;
	display: flex;
}
.row3-title-text h4{
	border: 2px solid black;
	width: 20vw;
	text-align: center;
	height: 3.2vh;
	margin-top: 1vh;
	margin-left: 5vw;
	border-radius: 20px 20px 20px 20px ;
}
.row3-title-text-p p{
	width: 30vw;
	color: black;
	margin-top: 2vh;
	margin-left: 5vw;
	font-weight: bold;
}
.row3-head-text h2{
	margin-left: 5vw;
	margin-top: 3vh;
	font-size: 3vw;
}
.row3-title-text-p .tick img{
	margin-left: 5vw;
}
.row3-title-text-p .tick h3{
	margin-left: 1vw;
	margin-top: 3.5vh;
}
.row3-live-website{
	display: flex;
}
.row3-live-website h3{
	margin-left: 5vw;
	margin-top: 5vh;
	color: red;
	font-weight: lighter;
	cursor: pointer;
}
.row3-live-website img{
	width: 2vw;
	height: 4vh;
	margin-top: 2.3vw;
	margin-left: 1vw;
	cursor: pointer;
}
.row3-live-para{
	width: 37vw;
	height: 20vh;
	margin-left: 7vw;
	margin-top: 5vh;
	box-shadow:2px 2px 4px 2px gray;
	border: 5px solid white;
	border-radius: 3%;
}
.row3-live-para p{
	margin-top: 2vh;
	width: 35vw;
	margin-left: 1vw;
}
.falcon{
	display: flex;
}
.falcon-text{
	margin-top: 2vh;
	margin-left: 1vw;
}
.falcon-text h5{
	font-weight: lighter;
}
.row3-right img{
	margin-top: 15vh;
	margin-left: 35vh;
	height: 60vh;
	width: 25vw;
	border-radius: 10% 1% 10% 1%;
	box-shadow: 5px 0px 20px 30px lightgray;
}
.row3-button button{
	height: 6vh;
	width: 12vw;
	background-color: black;
	border-radius: 2%;
	margin-left: 43vw;
	
}
.row3-button button a{
	text-decoration: none;
	font-weight: bolder;
	color: white;
	border: none;
	transition: transform .4s;
	overflow: hidden;
	
}
.row3-button button a:hover{
	transform: scale(1.2);
}


/*row for of the Home page of Artimizzation Website*/


.row4{
	width: 98vw;
	height: 149vh;
}
.row4-text h2{
	text-align: center;
	font-size: 4vw;
}
.row4-text{
	margin-top: 2vw;
}
.row4-text p{
	text-align: center;
	font-size: 1.vw;
	width: 50vw;
	margin-left: 25vw;
	font-weight: lighter;
}
.row4-cols{
	width: 80vw;
	height: 50vh;
	display: flex;
	margin-top: 5vh;
	margin-left:10vw ;
}
.row-col-1{
	width: 20vw;
	height: 50vh;
	border-right: 2px solid darkgray;
}
.row-col-img {
	text-align: center;
	margin-top: 2vh;
}
.row-col-img h3{
	margin-top: 2vh;
	font-size: 2vw;
	font-weight: bold;
}
.row-col-img p{
	font-weight: light;
	margin-top: 2vh;
	font-size: 1.1vw;
}
.row-col-img button{
	border: none;
	background-color: white;
	margin-top: 3vh;
	color: red;
	cursor: pointer;
}
.row-col1-img p{
	font-weight: light;
	margin-top: 2vh;
	font-size: 1.1vw;
}
.row-col1-img button{
	border: none;
	background-color: white;
	margin-top: 3vh;
	color: red;
	cursor: pointer;
}
.row-col2-img p{
	font-weight: light;
	margin-top: 2vh;
	font-size: 1.1vw;
}
.row-col2-img button{
	border: none;
	background-color: white;
	margin-top: 3vh;
	color: red;
	cursor: pointer;
}
.row-col3-img p{
	font-weight: light;
	margin-top: 2vh;
	font-size: 1.1vw;
}
.row-col3-img button{
	border: none;
	background-color: white;
	margin-top: 3vh;
	color: red;
	cursor: pointer;
}
.row-col-2{
	width: 20vw;
	height: 50vh;
	border-right: 2px solid darkgray;
}
.row-col1-img {
	text-align: center;
	margin-top: 2vh;
	
}
.row-col1-img h3{
	margin-top: 2vh;
	font-size: 2vw;
	font-weight: bold;
}
.row-col-3{
	width: 20vw;
	height: 50vh;
	border-right: 2px solid darkgray;
}
.row-col2-img {
	text-align: center;
	margin-top: 2vh;
	
}
.row-col2-img h3{
	margin-top: 2vh;
	font-size: 2vw;
	font-weight: bold;
}
.row-col-4{
	width: 20vw;
	height: 50vh;
}
.row-col3-img {
	text-align: center;
	margin-top: 2vh;
	
}
.row-col3-img h3{
	margin-top: 2vh;
	font-size: 2vw;
	font-weight: bold;
}
.row5{
	width: 98vw;
	height: 99vh;
	border: 5px solid black;
	background-color: black;
}
.row5-img{
	display: flex;
	margin-left: 14vw;
	margin-top: -30vh;
}
.row5-img img{
	width: 35vw;
	height: 60vh;

}
.row5-text{
	width: 98vw;
	height:70vh;
	display: flex;
}

/*Left of row5-table-left  */


.row5-table-left{
	width: 45vw;
	height: 90vh;
	margin-left: 8vw;

}
.row5-text1{
	color: white;
	margin-top: 5vh;
	margin-left: 5vw;
}
.row5-text1 h2{
	font-size: 2.5vw;
}
.row5-text1 h3{
	margin-top: 2vh;
	font-weight: lighter;
}
.row5-input{
	margin-left: 4vw;
	margin-top: 5vh;
}
.row5-input input{
	width: 17vw;
	height: 5vh;
	margin-left: 1vw;
	border-radius: 3px;
	border: none;

}
.row5-input-1{
	margin-left: 4vw;
	margin-top: 2vh;
}
.row5-input-1 input{
	width: 17vw;
	height: 5vh;
	margin-left: 1vw;
	border-radius: 3px;
	border: none;

}
.row5-input-2{
	margin-left: 4vw;
	margin-top: 2vh;
}
.row5-input-2 input{
	width: 35.5vw;
	height: 5vh;
	margin-left: 1vw;
	border-radius: 3px;
	border: none;

}
.row5-text2 h3{
	color: white;
	font-size: 1.1vw;
	margin-left: 5vw;
	font-weight: lighter;
}

/*right of the website row5-table-right*/
.row5-table-right{
	width: 30vw;
	height: 70vh;
	margin-left: 1vw;
}
.row5-table-right-text{
	margin-top: 5vh;
	color: white;
}
.row5-table-right-text h2{
	color: white;
	margin-left: 3vw;
	font-weight: bold;
	font-size: 2vw;
}
.row5-table-right-text h5{
	color: darkred;
	margin-left: 3vw;
	margin-top: 2vh;
	font-weight: lighter;
	font-size: 1vw;
}
.row5-table-right-img {
	display: flex;
}
.row5-table-right-img img{
	width: 1.7vw;
	margin-left: 3vw;
	margin-top: 2vh;
}
.row5-table-right-img h3{
	font-size: 1vw;
	margin-top: 2.5vh;
	margin-left: 1vw;
}
.row6{
	width: 98vw;
	height:98vh ;
	border: 5px solid red;
}
.row6-data{
	margin-top: 5vw;
}
.row6-text h2{
	font-size: 4vw;
	text-align: center;
}
.row6-cols{
	width: 98vw;
	height: 60vh;
	border: 2px solid green;
	margin-top: 3vw;
}
.row6-col-1{
	width: 20vw;
	height:60vh;
	border: 2px solid red;
	margin-left: 5vw;
}